{% extends 'base.html.twig' %}

{% block title %}Productos index{% endblock %}
{% block body %}
	<div class="row mt-5 mb-5">
		<div class="col-12 col-md-3 pl-5">
			<h3>Filtros</h3>
			<form>
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="generoHombre">
					<label class="form-check-label" for="generoHombre">Hombre</label>
				</div>
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="generoMujer">
					<label class="form-check-label" for="generoMujer">Mujer</label>
				</div>
				<button type="submit" class="btn btn-primary">Filtrar</button>
				<a href="ruta/a/otra/pagina" class="btn btn-secondary">Ir a otra página</a>
			</form>
		</div>
		<div class="col-12 col-md-9">
			<div class="row">
				{% for producto in productos %}
					<div class="col-12 col-md-4 mb-5">
						<div class="card">
							<img src="{{ producto.fotoprod }}" class="card-img-top" alt="{{ producto.nombreProd }}">
							<div class="card-body">
								<h5 class="card-title">{{ producto.nombreProd }}</h5>
								<p class="card-text">{{ producto.precio }}</p>
								<a href="{{ path('app_productos_show', {'id': producto.id}) }}" class="btn btn-primary">Ver más</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center my-5 pagination"></div>
{% endblock %}

{% block javascripts %}

<script>
	function showPage(page) { // Obtener todos los productos
		const products = document.querySelectorAll('.col-12.col-md-4');
		
		// Recorrer todos los productos
		for (let i = 0; i < products.length; i++) { 
			// Mostrar solo los 9 productos de la página actual
			if (i >= (page - 1) * 9 && i < page * 9) {
				products[i].style.display = 'block';
				// Añadir una transición suave para que no sea tan inmediato
				products[i].style.transition = 'opacity 0.3s';
			} else {
				products[i].style.display = 'none';
			}
		}
	}

	window.addEventListener('load', () => {
		showPage(1);
		const totalProducts = document.querySelectorAll('.col-12.col-md-4').length;
		
		// Calcular el número total de páginas
		const totalPages = Math.ceil(totalProducts / 9);
		
		// Crear los botones de página
		for (let i = 1; i <= totalPages; i++) {
			const button = document.createElement('button');
			button.innerHTML = i;
			button.classList.add('btn', 'btn-secondary', 'mr-2');
			button.addEventListener('click', () => {
				showPage(i);
			});
			document.querySelector('.pagination').appendChild(button);
		}
	});
</script>{% endblock %}
{# 
{% block body %}
	<div class="row mt-5 mb-5">
		<div class="col-3 pl-5">
			<h3>Filtros</h3>
			<form>
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="generoHombre">
					<label class="form-check-label" for="generoHombre">Hombre</label>
				</div>
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="generoMujer">
					<label class="form-check-label" for="generoMujer">Mujer</label>
				</div>
				<button type="submit" class="btn btn-primary">Filtrar</button>
				<a href="ruta/a/otra/pagina" class="btn btn-secondary">Ir a otra página</a>
			</form>
		</div>
		<div class="col-9">
			<div class="row">
				{% for producto in productos %}
					<div class="col-4 mb-5">
						<div class="card">
							<img src="{{ producto.fotoprod }}" class="card-img-top" alt="{{ producto.nombreProd }}">
							<div class="card-body">
								<h5 class="card-title">{{ producto.nombreProd }}</h5>
								<p class="card-text">{{ producto.precio }}</p>
								<a href="{{ path('app_productos_show', {'id': producto.id}) }}" class="btn btn-primary">Ver más</a>
							</div>
						</div>
					</div>
				{% endfor %}
				


			</div>
		</div>
	</div> #}