{% extends 'base.html.twig' %}

{% block title %}Productos
{% endblock %}

{% block body %}
	   
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="{{ producto.fotoprod }}" class="img-fluid" alt="Foto del producto">
        </div>
        <div class="col-md-9">
            <h5>{{ producto.nombreProd }}</h5>
            <p>
                <strong>Genero:</strong> {{ producto.genero }} <br>
                <strong>Precio:</strong> {{ producto.precio }} <br>
                <strong>Descuento:</strong> {{ producto.descuento }} <br>
                <strong>Talla:</strong> {{ producto.talla }} <br>
                <strong>Tipo:</strong> {{ producto.tipo }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <form action="{{ path('app_agregarcarrito', {'id': producto.id}) }}" method="post">
                <div class="form-group">
                    <label for="cantidad">Cantidad</label>
                    <input type="number" class="form-control" id="cantidad" name="cantidad" min="1" max="{{ producto.cantidad }}" value="1">
                </div>
                <input type="submit" class="btn btn-primary" value="Agregar al carrito">
            </form>
        </div>
    </div>
</div>




		<a href="{{ path('app_productos_index') }}">back to list</a>


	{% endblock %}
