<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Artist Shop</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="/">Inicio</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/productos">Productos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_about_us')}}">Sobre nosotros</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_contacto') }}">Contacto</a>
			</li>
		</ul>
	</div>
	<div class="navbar-nav">
		<a class="bi bi-cart" href="{{path('app_carrito')}}" style="color:#02386e">
			<i class="fas fa-shopping-cart"></i>
		</a>
	</div>

{% if app.user %}
	{% if is_granted('ROLE_ADMIN') %}
		<div class="navbar-nav ml-4">
			<a href="{{ path('app_user_show', {'id': app.user.id}) }}" class="nav-link">Mostrar perfil</a>
		</div>
		<div class="navbar-nav ml-4">
			<a href="{{ path('app_productos_new')}}" class="nav-link">Crear Producto</a>
		</div>
	{% else %}
		<div class="navbar-nav ml-4">
			<a href="{{ path('app_user_show', {'id': app.user.id}) }}" class="nav-link">Mostrar perfil</a>
		</div>
	{% endif %}
	{% else %}
		<div class="navbar-nav ml-4">
			<a href="/login" class="nav-link">Iniciar Sesión</a>
		</div>
		<div class="navbar-nav ml-4">
			<a href="/register" class="nav-link">Registrate</a>
		</div>
	{% endif %}

	<!-- 
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" href="{{path('language', {'locale': 'en'}) }}">English
		</li>
		<li class = "nav-item">
			<a class="nav-link" href="{{path('language', {'locale': 'es'}) }}">Español
		</li>
	</ul>
	-->
</nav>



{# Por si no funcionaba el cambio:

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Artist Shop</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="/">Inicio</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/productos">Productos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('app_about_us')}}">Sobre nosotros</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('app_contacto') }}">Contacto</a>
			</li>
		</ul>
	</div>
	<div class="collapse navbar-collapse" id="navbarNav">
	<a class="bi bi-cart" href="{{path('app_carrito')}}" style="color:#02386e">
	<i class="fas fa-shopping-cart"></i>
	</a>

<!--MA 1.7 Menu de la pagina dependiendo del tipo de usuario -->
{% if app.user %}
	{% if is_granted('ROLE_ADMIN') %}
		<div class="d-flex justify-content-center mx-4">
			<a href="{{ path('app_user_show', {'id': app.user.id}) }}" class="nav-link">Mostrar perfil</a>
		</div>
		<div class="d-flex justify-content-center mx-4">
			<a href="{{ path('app_productos_new')}}" class="nav-link">Crear Producto</a>
		</div>
	{% else %}
		<div class="d-flex justify-content-center mx-4">
			<a href="{{ path('app_user_show', {'id': app.user.id}) }}" class="nav-link">Mostrar perfil</a>
		</div>
	{% endif %}
{% else %}
		<div class="d-flex justify-content-center mx-4">
			<a href="/login" class="btn btn-dark btn-lg">Iniciar Sesión</a>
		</div>
		<div class="d-flex justify-content-center mx-4">
			<a href="/register" class="btn btn-dark btn-lg">Registrate</a>
		</div>
	{% endif %}

</div>
</nav> #}
