{% extends 'base.html.twig' %}

{% block title %}Hello ListarComprasController!{% endblock %}
{% block body %}

<div class="container">
  {% for pedido in pedidos %}
    <div class="card mb-3">
      <div class="card-header">
        Pedido: {{ pedido.id }}
      </div>
      <ul class="list-group list-group-flush">
        {% for product in pedido.listaProd %}
          <li class="list-group-item">{{ product.nombreProducto }} | Cantidad: {{ product.cantidad }} | Precio: {{ product.precio }}</li>
        {% endfor %}
      </ul>
      <div class="card-body">
        <form action="{{ path('app_devolver') }}" method="GET">
          <input type="hidden" name="pedido_id" value="{{ pedido.id }}">
          <button type="submit" class="btn btn-danger">Devolver</button>
        </form>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
