{% extends 'base.html.twig' %}

{% block title %}Hello ListarComprasController!{% endblock %}

{% block body %}
<table>
    <tr>
        <th>Id</th>
        <th>User Id</th>
        <th>Lista Productos</th>
    </tr>
    {% for pedido in pedidos %}
    <tr>
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.userId }}</td>
        <td>
        {% for product in pedido.listaProd %}
        {{ product.nombreProducto }} - {{ product.cantidad }} - {{ product.precio }} <br>
        {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
